<section class="faq" data-id="faq">
  <div class="container">
    <h2 class="faq__title">FAQ</h2>
    <load src="/partials/title-frame.html" />

    <ul class="faq__ac-list accordion-container" data-id="faq__ac-list">
      <li class="faq__ac-item ac">
        <h3 class="faq__ac-subtitle ac-header">
          <button type="button" class="faq__ac-btn ac-trigger">
            <svg class="faq__ac-btn-marker-icon">
              <use href="./img/sprite.svg#circle"></use>
            </svg>

            <span class="faq__ac-btn-text"
              >Is Dynasty: Fallen & Rise free to play?</span
            >
            <svg class="faq__ac-btn-arrow-icon">
              <use href="./img/sprite.svg#ac-arrow"></use>
            </svg>
          </button>
        </h3>
        <div class="faq__ac-item-text-wrap ac-panel">
          <p class="faq__ac-item-text ac-text">
            Yes! You can play for free, with optional in-app purchases for
            cosmetics and boosts.
          </p>
        </div>
      </li>

      <li class="faq__ac-item ac">
        <h3 class="faq__ac-subtitle ac-header">
          <button type="button" class="faq__ac-btn ac-trigger">
            <svg class="faq__ac-btn-marker-icon">
              <use href="./img/sprite.svg#circle"></use>
            </svg>
            <span class="faq__ac-btn-text">Can I play offline?</span>
            <svg class="faq__ac-btn-arrow-icon">
              <use href="./img/sprite.svg#ac-arrow"></use>
            </svg>
          </button>
        </h3>
        <div class="faq__ac-item-text-wrap ac-panel">
          <p class="faq__ac-item-text ac-text">
            Core story content is available offline, though multiplayer modes
            require an internet connection.
          </p>
        </div>
      </li>

      <li class="faq__ac-item ac">
        <h3 class="faq__ac-subtitle ac-header">
          <button type="button" class="faq__ac-btn ac-trigger">
            <svg class="faq__ac-btn-marker-icon">
              <use href="./img/sprite.svg#circle"></use>
            </svg>
            <span class="faq__ac-btn-text">Are there different endings?</span>
            <svg class="faq__ac-btn-arrow-icon">
              <use href="./img/sprite.svg#ac-arrow"></use>
            </svg>
          </button>
        </h3>
        <div class="faq__ac-item-text-wrap ac-panel">
          <p class="faq__ac-item-text ac-text">
            Yes! Player choices during campaigns influence the fate of
            characters and kingdoms.
          </p>
        </div>
      </li>

      <li class="faq__ac-item ac">
        <h3 class="faq__ac-subtitle ac-header">
          <button type="button" class="faq__ac-btn ac-trigger">
            <svg class="faq__ac-btn-marker-icon">
              <use href="./img/sprite.svg#circle"></use>
            </svg>
            <span class="faq__ac-btn-text">IIs there a multiplayer mode?</span>
            <svg class="faq__ac-btn-arrow-icon">
              <use href="./img/sprite.svg#ac-arrow"></use>
            </svg>
          </button>
        </h3>
        <div class="faq__ac-item-text-wrap ac-panel">
          <p class="faq__ac-item-text ac-text">
            Yes! Participate in real-time PvP battles and join alliances to
            fight in kingdom-scale wars.
          </p>
        </div>
      </li>

      <li class="faq__ac-item ac">
        <h3 class="faq__ac-subtitle ac-header">
          <button type="button" class="faq__ac-btn ac-trigger">
            <svg class="faq__ac-btn-marker-icon">
              <use href="./img/sprite.svg#circle"></use>
            </svg>
            <span class="faq__ac-btn-text">Will new heroes be added?</span>
            <svg class="faq__ac-btn-arrow-icon">
              <use href="./img/sprite.svg#ac-arrow"></use>
            </svg>
          </button>
        </h3>
        <div class="faq__ac-item-text-wrap ac-panel">
          <p class="faq__ac-item-text ac-text">
            Absolutely. New content, heroes, and campaigns are regularly
            introduced via updates.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
