<footer class="footer" id="footer" data-id="footer">
  <div class="container">
    <div class="footer__terms-wrapper">
      <a class="footer__terms-link" href="./privacy-policy.html"
        >Privacy Policy</a
      >
      <p class="footer__terms-divider">|</p>
      <a class="footer__terms-link" href="./terms-policy.html"
        >Terms & Conditions</a
      >
      <p class="footer__terms-divider">|</p>
      <a class="footer__terms-link" href="./cookies-policy.html"
        >Cookies Policy</a
      >
    </div>
    <p class="footer__copyright">
      &copy; 2025 glowdynastysaga.com - All rights reserved
    </p>
  </div>
</footer>
