<section class="atmosphere" id="atmosphere">
  <div class="container">
    <h2 class="atmosphere__title">Game atmosphere</h2>
    <div class="atmosphere__content-wrapper">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/game-atmosphere/fighters-desktop.png    1x,
            /img/game-atmosphere/fighters-desktop@2x.png 2x
          "
        />
        <source
          media="(max-width: 1199px)"
          srcset="
            /img/game-atmosphere/fighters-mobile.png    1x,
            /img/game-atmosphere/fighters-mobile@2x.png 2x
          "
        />
        <img
          class="atmosphere__img"
          src="/img/game-atmosphere/fighters-desktop.png"
          alt="two fighters"
        />
      </picture>
      <div class="atmosphere__text-wrapper">
        <p class="atmosphere__text">
          Experience a world steeped in legend, where shifting alliances and
          ancient secrets determine the future of your people.
        </p>
        <p class="atmosphere__text">
          From the smoke-covered battlefields of the West to the mystic temples
          of the East, Dynasty: Fallen & Rise immerses you in a cinematic
          journey filled with honor, sacrifice, and triumph.
        </p>
        <p class="atmosphere__text atmosphere__last-el">
          With a powerful orchestral score and vivid animations, every chapter
          of your legacy comes alive.
        </p>
      </div>
    </div>
  </div>
</section>
