<section class="features" id="features" data-id="features">
  <div class="container">
    <h2 class="features__title">Game Features</h2>
    <load src="/partials/title-frame.html" />
    <div class="features__wrapper">
      <ul class="features__cards-deck" data-id="features__cards-deck">
        <!-- <li class="features__deck-item">
            <img class="features__deck-img" src="${card.src}" />
        </li> -->
      </ul>

      <!-- Card -->
      <div class="features__open-cards" data-id="features__open-cards"></div>
    </div>
  </div>
</section>
