<section class="features" id="features">
  <div class="container">
    <h2 class="features__title">Game Features</h2>
    <load src="/partials/title-frame.html" />
    <div class="features__wrapper">
      <div class="features__cards-deck"></div>

      <!-- Card -->
      <ul class="features__cards-list" data-id="features__cards-list"></ul>
      <!-- <div class="features__card">
        <div
          class="features__card-img-wrapper"
          data-id="features__card-img-wrapper"
        >
          <loa src="/partials/cf-features-mobile.html" />
        </div>
        <div class="features__card-text-wrapper">
          <h3 class="features__card-title">Deep Strategic Combat</h3>
          <p class="features__card-text">
            Tactical battles that challenge your mind and military precision
          </p>
        </div>
      </div> -->
    </div>
  </div>
</section>
