<header class="header">
  <div class="container">
    <a class="logo-link" href="#hero">
      <picture class="header__picture">
        <source
          media="(min-width: 1200px)"
          srcset="/img/logo-desktop.png 1x, /img/logo-desktop@2x.png 2x"
        />
        <source
          media="(max-width: 1199px)"
          srcset="/img/logo-mobile.png 1x, /img/logo-mobile@2x.png 2x"
        />
        <img class="header__image" src="/img/logo-mobile.png" alt="game logo" />
      </picture>
    </a>

    <button class="header__mobile-btn">
      <span class="nav-icon">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </button>

    <load src="/partials/navigation.html" />
  </div>
</header>
