<section class="hero" id="hero">
  <div class="container">
    <h1 class="hero__title">
      Fairy Legends: Tail&nbsp;Quest – Unravel the Magic, Rewrite the Tale!
    </h1>
    <p class="hero__text">
      Enter a world of ancient myths, magical creatures, and enchanted battles!
    </p>
    <button class="hero__gpl-btn" type="button">
      <div class="hero__gpl-icon-wrapper">
        <svg class="hero__gpl-icon">
          <use href="./img/sprite.svg#google-play"></use>
        </svg>
      </div>
      <span class="hero__gpl-btn-text">Download on Google Play</span>
    </button>
  </div>
</section>
