<section class="heroes" id="heroes">
  <div class="container">
    <h2 class="heroes__title">Main Characters</h2>
    <!-- <svg width="288" height="87" class="title-frame">
      <use href="#title-frame-mobile" />
    </svg> -->
    <load src="/partials/title-frame.html" />
    <!-- Card -->
    <div class="heroes__card">
      <h3 class="heroes__card-title">General&nbsp;Kairos</h3>
      <p class="heroes__card-text">
        A fallen warlord known for brutal tactics and undying loyalty
      </p>
    </div>
  </div>
</section>
