<section class="join">
  <div class="container">
    <h2 class="join__title">Begin Your Legend Now!</h2>
    <div class="join__framed framed">
      <picture class="join__picture">
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/join/heroes-desktop.png    1x,
            /img/join/heroes-desktop@2x.png 2x
          "
        />
        <source
          media="(max-width: 1199.98px)"
          srcset="
            /img/join/heroes-mobile.png    1x,
            /img/join/heroes-mobile@2x.png 2x
          "
        />

        <img
          class="join__img"
          src="/img/join/heroes-mobile.png"
          alt="game heroes"
          loading="lazy"
          onload="this.dataset.loaded='true'"
        />
      </picture>
    </div>
    <div class="join__content-wrapper">
      <p class="join__label">Download Dynasty</p>
      <p class="join__cta">Fallen & Rise and Forge Your Path to Glory!</p>

      <div class="join__gpl-btn-wrapper">
        <load src="/partials/gpl-btn.html" />
      </div>
    </div>
  </div>
</section>
