<div class="mobile-menu" data-id="mobile-menu">
  <div class="container">
    <load src="/partials/navigation.html" />
  </div>
</div>

<!-- <div class="mobile-menu__background" data-id="mobile-menu__background"></div> -->

<div class="false-bg" id="false-bg" data-id="mobile-menu__background">
  <div class="false-bg__hero" data-id="false-bg__hero"></div>
  <div data-id="false-bg__about"></div>
  <div class="false-bg__how-to-play" data-id="false-bg__how-to-play"></div>
  <div data-id="false-bg__features"></div>
  <div data-id="false-bg__heroes"></div>
  <div data-id="false-bg__atmosphere"></div>
  <div class="false-bg__reviews" data-id="false-bg__reviews"></div>
  <div data-id="false-bg__faq"></div>
  <div data-id="false-bg__join"></div>
  <div class="false-bg__footer" data-id="false-bg__footer"></div>
</div>

<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae a eligendi
  delectus necessitatibus. Temporibus, aspernatur exercitationem. Obcaecati
  animi perspiciatis omnis minima fugiat reprehenderit, repudiandae, nostrum at
  amet enim quisquam numquam!
</p>

<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione natus culpa,
  modi quos qui mollitia quod unde! Aperiam, tempore dicta! Quaerat, quidem
  illum cupiditate tempore doloremque deserunt? Autem, corrupti totam.
</p>
