<div class="mobile-menu" data-id="mobile-menu">
  <div class="container">
    <load src="/partials/navigation.html" />
  </div>
</div>

<!-- <div class="mobile-menu__background" data-id="mobile-menu__background"></div> -->

<div class="bg-mobile-menu__overlay" data-id="bg-mobile-menu__overlay">
  <div class="bg-mobile-menu" id="false-bg" data-id="bg-mobile-menu">
    <div class="bg-mobile-menu__hero" data-id="bg-mobile-menu__hero"></div>
    <div data-id="bg-mobile-menu__about"></div>
    <div
      class="bg-mobile-menu__how-to-play"
      data-id="bg-mobile-menu__how-to-play"
    ></div>
    <div data-id="bg-mobile-menu__features"></div>
    <div data-id="bg-mobile-menu__heroes"></div>
    <div data-id="bg-mobile-menu__atmosphere"></div>
    <div
      class="bg-mobile-menu__reviews"
      data-id="bg-mobile-menu__reviews"
    ></div>
    <div data-id="bg-mobile-menu__faq"></div>
    <div data-id="bg-mobile-menu__join"></div>
    <div class="bg-mobile-menu__footer" data-id="bg-mobile-menu__footer"></div>
  </div>
</div>
