<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__item-link" data-id="nav__item-link" href="#about"
        >About&nbsp;the&nbsp;game</a
      >
    </li>
    <li class="nav__item">
      <a class="nav__item-link" data-id="nav__item-link" href="#how-to-play"
        >How&nbsp;to&nbsp;Play</a
      >
    </li>
    <li class="nav__item">
      <a class="nav__item-link" data-id="nav__item-link" href="#features"
        >Features</a
      >
    </li>
    <li class="nav__item">
      <a class="nav__item-link" data-id="nav__item-link" href="#heroes"
        >Heroes</a
      >
    </li>
    <li class="nav__item">
      <a class="nav__item-link" data-id="nav__item-link" href="#atmosphere"
        >Atmosphere</a
      >
    </li>
    <li class="nav__item">
      <a class="nav__item-link" data-id="nav__item-link" href="#reviews"
        >Reviews</a
      >
    </li>
    <li class="nav__item">
      <a class="nav__item-link" data-id="nav__item-link" href="#faq">FAQ</a>
    </li>
    <li class="nav__item">
      <a class="nav__item-link" data-id="nav__item-link" href="#footer"
        >Conditions</a
      >
    </li>
  </ul>
</nav>
