<section class="reviews" id="reviews">
  <div class="container reviews__container">
    <!-- Star mask -->
    <svg
      aria-hidden="true"
      focusable="false"
      style="position: absolute; width: 0; height: 0; overflow: hidden"
    >
      <defs>
        <polygon
          id="rating__star-icon"
          points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
        />

        <mask
          id="rating__star-icon-mask"
          maskUnits="userSpaceOnUse"
          maskContentUnits="userSpaceOnUse"
          x="0"
          y="0"
          width="24"
          height="24"
        >
          <rect width="100%" height="100%" fill="black" />
          <use href="#rating__star-icon" fill="white" />
        </mask>
      </defs>
    </svg>

    <h2 class="reviews__title">Reviews</h2>
    <load src="/partials/title-frame.html" />

    <div class="reviews__swiper swiper" data-id="reviews__swiper">
      <ul
        data-id="reviews__cards-list"
        class="reviews__cards-list swiper-wrapper"
      ></ul>
    </div>

    <div class="swiper__wrapper-btn">
      <button class="swiper__btn swiper__btn-left" data-id="reviews__prev-btn">
        <svg class="swiper__icon-btn">
          <use href="./img/sprite.svg#arrow-left"></use>
        </svg>
      </button>

      <!-- <div class="swiper__scrollbar-container">
        <div class="swiper-scrollbar" data-id="reviews__sw-scrollbar"></div>
      </div> -->

      <button class="swiper__btn swiper__btn-right" data-id="reviews__next-btn">
        <svg class="swiper__icon-btn">
          <use href="./img/sprite.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
