<section class="review-form is-ope" data-id="review-form">
  <div class="container">
    <form class="review-form__form" data-id="review-form__form" action="">
      <button
        type="button"
        class="review-form__close-btn"
        data-id="review-form__close-btn"
      >
        <svg class="review-form__btn-icon">
          <use href="./img/sprite.svg#close-form"></use>
        </svg>
      </button>

      <div class="rating review-form__rating">
        <input value="5" name="grade" id="star5" type="radio" required />
        <label title="5 stars" for="star5">
          <svg
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="4"
            stroke="#000000"
            fill="none"
            viewBox="0 0 24 24"
            height="35"
            width="35"
            xmlns="http://www.w3.org/2000/svg"
            class="svgOne"
          >
            <use
              href="#rating__star-icon"
              mask="url(#rating__star-icon-mask)"
            />
          </svg>
          <svg
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="4"
            stroke="#000000"
            fill="none"
            viewBox="0 0 24 24"
            height="35"
            width="35"
            xmlns="http://www.w3.org/2000/svg"
            class="svgTwo"
          >
            <use
              href="#rating__star-icon"
              mask="url(#rating__star-icon-mask)"
            />
          </svg>
        </label>

        <input value="4" name="grade" id="star4" type="radio" />
        <label title="4 stars" for="star4">
          <svg
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="4"
            stroke="#000000"
            fill="none"
            viewBox="0 0 24 24"
            height="35"
            width="35"
            xmlns="http://www.w3.org/2000/svg"
            class="svgOne"
          >
            <use
              href="#rating__star-icon"
              mask="url(#rating__star-icon-mask)"
            />
          </svg>
          <svg
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="4"
            stroke="#000000"
            fill="none"
            viewBox="0 0 24 24"
            height="35"
            width="35"
            xmlns="http://www.w3.org/2000/svg"
            class="svgTwo"
          >
            <use
              href="#rating__star-icon"
              mask="url(#rating__star-icon-mask)"
            />
          </svg>
        </label>

        <input value="3" name="grade" id="star3" type="radio" />
        <label title="3 stars" for="star3">
          <svg
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="4"
            stroke="#000000"
            fill="none"
            viewBox="0 0 24 24"
            height="35"
            width="35"
            xmlns="http://www.w3.org/2000/svg"
            class="svgOne"
          >
            <use
              href="#rating__star-icon"
              mask="url(#rating__star-icon-mask)"
            />
          </svg>
          <svg
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="4"
            stroke="#000000"
            fill="none"
            viewBox="0 0 24 24"
            height="35"
            width="35"
            xmlns="http://www.w3.org/2000/svg"
            class="svgTwo"
          >
            <use
              href="#rating__star-icon"
              mask="url(#rating__star-icon-mask)"
            />
          </svg>
        </label>

        <input value="2" name="grade" id="star2" type="radio" />
        <label title="2 stars" for="star2">
          <svg
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="4"
            stroke="#000000"
            fill="none"
            viewBox="0 0 24 24"
            height="35"
            width="35"
            xmlns="http://www.w3.org/2000/svg"
            class="svgOne"
          >
            <use
              href="#rating__star-icon"
              mask="url(#rating__star-icon-mask)"
            />
          </svg>
          <svg
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="4"
            stroke="#000000"
            fill="none"
            viewBox="0 0 24 24"
            height="35"
            width="35"
            xmlns="http://www.w3.org/2000/svg"
            class="svgTwo"
          >
            <use
              href="#rating__star-icon"
              mask="url(#rating__star-icon-mask)"
            />
          </svg>
        </label>

        <input value="1" name="grade" id="star1" type="radio" />
        <label title="1 stars" for="star1">
          <svg
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="4"
            stroke="#000000"
            fill="none"
            viewBox="0 0 24 24"
            height="35"
            width="35"
            xmlns="http://www.w3.org/2000/svg"
            class="svgOne"
          >
            <use
              href="#rating__star-icon"
              mask="url(#rating__star-icon-mask)"
            />
          </svg>
          <svg
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="4"
            stroke="#000000"
            fill="none"
            viewBox="0 0 24 24"
            height="35"
            width="35"
            xmlns="http://www.w3.org/2000/svg"
            class="svgTwo"
          >
            <use
              href="#rating__star-icon"
              mask="url(#rating__star-icon-mask)"
            />
          </svg>
        </label>
      </div>

      <fieldset class="review-form__field">
        <label for="name">Please, provide your name</label>
        <input
          class="review-form__input-name"
          type="text"
          id="name"
          name="name"
          placeholder="Your name"
          size="5"
          required
        />
      </fieldset>

      <fieldset class="review-form__field">
        <label for="comments">How do you find the game?</label>
        <textarea
          class="review-form__textarea-comm"
          data-id="review-form__textarea-comm"
          id="comments"
          name="comments"
          placeholder="Share details of your own experience in this game"
          required
        ></textarea>
      </fieldset>

      <button
        class="review-form__submit-btn"
        data-id="review-form__submit-btn"
        type="submit"
      >
        Submit
      </button>
    </form>
  </div>
</section>
