.title-frame {
  position: absolute;
  transform: translateX(-50%);
  top: 32px;
  left: 50%;
}

.title-frame-path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.title-frame-path.animate {
  animation: draw 0.5s forwards 0.25s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.title-frame__desktop {
  display: none;
}

@media screen and (min-width: 1200px) {
  .title-frame__mobile {
    display: none;
  }

  .title-frame__desktop {
    display: block;
    top: 60px;
  }
}
