.container {
  position: relative;
  max-width: 320px;
  margin: 0 auto;
  padding: 59px 16px 32px 16px;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 83px 36px 60px 36px;
  }
}
