.footer {
  background-color: #000f1a;
}

.footer .container {
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer__terms-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.footer__terms-link {
  font-weight: 500;
  text-align: center;

  transition: color 250ms ease;
}

.footer__terms-link:hover,
.footer__terms-link:focus {
  color: var(--color-hover-primary);
}

.footer__terms-divider {
}

.footer__copyright {
  font-weight: 300;
  font-size: 12px;
  text-align: center;

  margin-top: 24px;
}

@media screen and (max-width: 1199px) {
  .footer__terms-divider {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    padding: 40px 36px;
  }

  .footer__terms-wrapper {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }

  .footer__terms-link {
    font-size: 20px;
  }

  .footer__terms-divider {
    display: block;
  }

  .footer__copyright {
  }
}
