.features {
}

.container {
}

.features__title {
}

.features__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features__cards-deck {
}

.features__card {
  position: relative;
  width: 554px;
}

.features__card-frame-wrapper {
}

.features__card-text-wrapper {
  position: absolute;
  top: 40px;
  left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 506px;
  height: 785px;
  pointer-events: none;
}

.features__card-title {
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;

  border: 1px solid #feffe8;
  border-radius: 8px;
  padding: 16px;
  width: 506px;
  height: 73px;

  box-shadow: 2px 2px 4px 0 rgba(255, 255, 255, 0.25);
  background: rgba(0, 32, 57, 0.8);
}

.features__card-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;

  border: 1px solid #feffe8;
  border-radius: 8px;
  padding: 16px 8px;
  width: 506px;
  height: 104px;

  box-shadow: 2px 2px 4px 0 rgba(255, 255, 255, 0.25);
  background: rgba(0, 32, 57, 0.8);
}
