.header {
  position: fixed;
  z-index: 10;
  padding: 10px 0;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.header__container {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: background-color 800ms ease, backdrop-filter 800ms ease;

  /* for better optimization */
  will-change: backdrop-filter, background-color;
  background-color: transparent;
  backdrop-filter: none;

  /* position: relative; */
}

.header__scrolled {
  background-color: rgba(175, 175, 175, 0.2);
  backdrop-filter: blur(16px);
}

.logo {
  width: 40px;
}

.header__mobile-btn {
  width: 32px;
  height: 32px;
  padding: 6.5px 4px;
  border: none;
  background-color: transparent;
  /* position: absolute;
  z-index: 11; */
}

@media screen and (max-width: 1199px) {
  .nav {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    width: 52px;
  }

  .header__mobile-btn {
    display: none;
  }
}
