.header {
  position: fixed;
  z-index: 10;
  padding: 10px 0;
  top: 0;
  left: 0;
  width: 100%;
}

.header .container {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 40px;
}

.header__mobile-btn {
  width: 32px;
  height: 32px;
  padding: 6.5px 4px;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 1199px) {
  .nav {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 12px 0;
  }

  .logo {
    width: 52px;
  }

  .header__mobile-btn {
    display: none;
  }
}
