.hero {
  height: min(100vh, 794px);
  background-image: image-set(
    url(../img/hero/hero-bg.png) 1x,
    url(../img/hero/hero-bg@2x.png) 2x
  );
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  /* overflow: visible; */
}

.hero__text {
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 60px;
}

.hero__gpl-btn-wrapper {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1199px) {
  .hero {
    min-height: 610px;
  }

  .hero .container {
    padding-top: 150px;
  }

  .hero__title {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 794px;
  }

  .hero .container {
    padding: 298px 100px;
    padding-bottom: 0;
  }

  .hero__title {
    margin-bottom: 24px;
  }

  .hero__text {
    font-size: 20px;
    margin-bottom: 60px;
  }
}
