.heroes__container {
  --swiper-pagination-bullet-width: 24px;
  --swiper-pagination-bullet-height: 4px;
  --swiper-pagination-bullet-inactive-color: #000f1a;
  --swiper-pagination-color: var(--main-color);
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-border-radius: 2px;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 0;
}

.heroes__swiper {
  height: 448px;
  margin-bottom: 24px;
}

.heroes__cards-list {
  height: 100%;
}

.heroes__card {
  position: relative;
  border: 2px solid var(--main-color);
  border-radius: 8px;

  overflow: hidden;

  width: 100%;
  height: 448px;
}

.heroes__card-title {
  text-transform: uppercase;
  text-align: center;
  padding: 8px;

  width: 235px;

  position: absolute;
  z-index: 1;

  transform: rotate(-90deg) translate(-16px, -233px);
  transform-origin: top right;

  background-color: rgba(0, 32, 57, 0.5);
}

.heroes__card-text {
  position: absolute;
  z-index: 1;
  transform: translateY(368px);
  text-align: center;
  width: 100%;

  padding: 8px;
  background-color: rgba(0, 32, 57, 0.5);
}

.heroes__card-picture {
}

.heroes__card-img {
  max-width: 288px;
  height: 448px;
  object-position: center;
  object-fit: none;

  position: absolute;
}

.swiper-pagination-bullet {
  border: 0.5px solid var(--main-color);
}

.swiper-pagination-bullet-active {
}

@media screen and (min-width: 1200px) {
  .heroes__container {
    --swiper-pagination-bullet-width: 36px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
  }

  .heroes__swiper {
    height: 543px;
  }

  .heroes__cards-list {
  }

  .heroes__card {
    width: 362px;
    height: 543px;

    /* box-shadow: 4px 4px 8px 0 rgba(255, 255, 255, 0.25); */
  }

  .heroes__card-title {
    font-size: 27px;
    width: 356px;
    letter-spacing: 0.24em;
    padding: 16px;

    transform: rotate(-90deg) translate(-16px, -354px);
  }

  .heroes__card-text {
    transform: translateY(451px);
  }

  .heroes__card-picture {
  }

  .heroes__card-img {
    max-width: none;
    width: 362px;
    height: 543px;
  }

  .swiper-pagination-bullet {
  }
}
