.hero {
  background-position: bottom center;
  background-repeat: no-repeat;
  overflow: visible;
  /* background-size: cover; */
}

.hero .container {
  padding-top: 100px;
}

.hero__title {
  margin-bottom: 24px;
}

.hero__text {
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 40px;
}

.hero__gpl-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 288px;
  height: 62px;
  border: none;
  border-radius: 8px;
  padding: 16px 18px;
  margin: 0 auto;

  color: inherit;
  background-color: var(--button-bg-color);
}

.hero__gpl-icon-wrapper {
  width: 30px;
  height: 30px;
  padding: 1px 4px;
  background-color: #003055;
  border-radius: 4px;
}

.hero__gpl-icon {
  width: 22px;
  height: 28px;
}

.hero__gpl-btn-text {
  font-weight: 500;
}

@media screen and (max-width: 1199px) {
  .hero {
    height: 563px;
    background-image: image-set(
      url(../img/hero/hero-bg-mobile.png) 1x,
      url(../img/hero/hero-bg-mobile@2x.png) 2x
    );
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 794px;
    background-image: image-set(
      url(../img/hero/hero-bg-desktop.png) 1x,
      url(../img/hero/hero-bg-desktop@2x.png) 2x
    );
  }

  .hero .container {
    padding: 298px 100px;
    padding-bottom: 0;
  }

  .container {
  }

  .hero__title {
  }

  .hero__text {
    font-size: 20px;
    margin-bottom: 60px;
  }

  .hero__gpl-btn {
    width: 384px;
    padding: 16px 40px;
  }

  .hero__gpl-icon-wrapper {
  }

  .hero__gpl-icon {
  }

  .hero__gpl-btn-text {
    font-size: 20px;
  }
}
