.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(calc(100vw + 1px));
  z-index: 9;
  width: 100%;
  height: 100vh;

  background-image: image-set(
      url(../img/mobile-menu/mobile-menu-bg.webp) 1x,
      url(../img/mobile-menu/mobile-menu-bg@2x.webp) 2x
    ),
    linear-gradient(
      90deg,
      #093e64 0%,
      #043558 29.81%,
      #043558 70.19%,
      #003053 100%
    );
  background-position: center top;
  background-repeat: no-repeat;

  transition: transform var(--mobile-menu-anim-time) ease;
}

.mobile-menu.open {
  transform: translateX(0px);
}

.mobile-menu .container {
  padding-top: 100px;
}

.mobile-menu .nav {
  display: block;
}

@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}
