.mobile-menu {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  /* background-image: image-set(
    url(../img/hero/hero-bg.png) 1x,
    url(../img/hero/hero-bg@2x.png) 2x
  );
  background-position: center top;
  background-repeat: no-repeat; */

  height: 0;
  transition: height var(--anim-time-mobile-menu) ease;
  overflow: hidden;
}

/* .mobile-menu__background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-image: linear-gradient(
    90deg,
    #093e64 0%,
    #043558 29.81%,
    #043558 70.19%,
    #003053 100%
  );
  background-position: center top;
  background-repeat: no-repeat;

  height: 0;
  transition: height var(--anim-time-mobile-menu) ease;
  overflow: hidden;
} */

.mobile-menu .container {
  padding-top: 100px;
}

.mobile-menu.open {
  height: 100vh;
}

/* .mobile-menu__background.open {
  height: 100vh;
} */

.mobile-menu .nav {
  display: block;
}

/* background mobile menu */

.bg-mobile-menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  height: 0;
  /* height: 100%; */
  width: 100%;
  overflow: hidden;

  /* transform: translateY(-100vh); */
  transition: height var(--anim-time-mobile-menu) ease;

  background: linear-gradient(
    90deg,
    #093e64 0%,
    #043558 29.81%,
    #043558 70.19%,
    #003053 100%
  );

  /* border: 2px solid red; */
}

.bg-mobile-menu__overlay.open {
  height: 100vh;
}

/* .bg-mobile-menu__overlay.close {
  height: 100%;
} */

.bg-mobile-menu {
  position: absolute;
  /* position: fixed; */
  top: 0;
  /* left: -7px; */
  width: 100%;

  /* height: 0; */
  height: 100%;
  transition: transform var(--anim-time-mobile-menu) ease;
  /* overflow: hidden; */

  background: linear-gradient(
    90deg,
    #093e64 0%,
    #043558 29.81%,
    #043558 70.19%,
    #003053 100%
  );
}

.bg-mobile-menu.open {
  /* transform: translateY(0); */
}

/* .bg-mobile-menu.open {
  height: 100%;
} */

.bg-mobile-menu__hero {
  background-image: image-set(
    url(../img/hero/hero-bg.png) 1x,
    url(../img/hero/hero-bg@2x.png) 2x
  );
  background-position: center top;
  background-repeat: no-repeat;
}

.bg-mobile-menu__how-to-play {
  background-image: image-set(
    url(../img/ht-play_reviews-bg-mobile.png) 1x,
    url(../img/ht-play_reviews-bg-mobile@2x.png) 2x
  );
  background-position: top center;
  background-repeat: no-repeat;
}

.bg-mobile-menu__reviews {
  margin-top: 4px;
  background-image: image-set(
    url(../img/ht-play_reviews-bg-mobile.png) 1x,
    url(../img/ht-play_reviews-bg-mobile@2x.png) 2x
  );
  background-position: top center;
  background-repeat: no-repeat;
}

.bg-mobile-menu__footer {
  background-color: #000f1a;
}

@media screen and (min-width: 1200px) {
  .bg-mobile-menu {
    display: none;
  }
}
