.mobile-menu {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  /* background-image: image-set(
    url(../img/hero/hero-bg.png) 1x,
    url(../img/hero/hero-bg@2x.png) 2x
  );
  background-position: center top;
  background-repeat: no-repeat; */

  height: 0;
  transition: height 2s ease;
  overflow: hidden;
}

/* .mobile-menu__background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-image: linear-gradient(
    90deg,
    #093e64 0%,
    #043558 29.81%,
    #043558 70.19%,
    #003053 100%
  );
  background-position: center top;
  background-repeat: no-repeat;

  height: 0;
  transition: height 2s ease;
  overflow: hidden;
} */

.mobile-menu .container {
  padding-top: 100px;
}

.mobile-menu.open {
  height: 100vh;
}

.mobile-menu__background.open {
  height: 100vh;
}

.mobile-menu .nav {
  display: block;
}

/* false background */

.false-bg {
  position: absolute;
  top: 0;
  /* left: -7px; */
  z-index: 8;
  width: 100vw;
  /* height: 100%; */

  height: 0;
  transition: height 2s ease;
  overflow: hidden;
  /* overflow: scroll; */

  background: linear-gradient(
    90deg,
    #093e64 0%,
    #043558 29.81%,
    #043558 70.19%,
    #003053 100%
  );
}

.false-bg.open {
  height: 100%;
}

.false-bg__hero {
  background-image: image-set(
    url(../img/hero/hero-bg.png) 1x,
    url(../img/hero/hero-bg@2x.png) 2x
  );
  background-position: center top;
  background-repeat: no-repeat;
}

.false-bg__how-to-play {
  background-image: image-set(
    url(../img/ht-play_reviews-bg-mobile.png) 1x,
    url(../img/ht-play_reviews-bg-mobile@2x.png) 2x
  );
  background-position: top center;
  background-repeat: no-repeat;
}

.false-bg__reviews {
  margin-top: 4px;
  background-image: image-set(
    url(../img/ht-play_reviews-bg-mobile.png) 1x,
    url(../img/ht-play_reviews-bg-mobile@2x.png) 2x
  );
  background-position: top center;
  background-repeat: no-repeat;
}

.false-bg__footer {
  background-color: #000f1a;
}

@media screen and (min-width: 1200px) {
  .false-bg {
    display: none;
  }
}
