.mobile-menu {
  position: fixed;
  top: 0;
  width: 100%;
  background-image: image-set(
      url('../img/mobile-menu/mobile-menu-bg.png') 1x,
      url('../img/mobile-menu/mobile-menu-bg@2x.png') 2x
    ),
    linear-gradient(
      90deg,
      #093e64 0%,
      #043558 29.81%,
      #043558 70.19%,
      #003053 100%
    );
  background-position: center 0;
  background-repeat: no-repeat;

  height: 0;
  transition: height 1s ease;
  overflow: hidden;
}

.mobile-menu .container {
  padding-top: 100px;
}

.mobile-menu.open {
  height: calc(100vh + 794px);
}

.mobile-menu .nav {
  display: block;
}
