.nav {
}

.nav__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 24px;
}

.nav__item {
}

.nav__item-link {
  font-size: 20px;
  padding: 10px;

  transition: color 250ms ease;
}

.nav__item-link:hover,
.nav__item-link:focus {
  color: var(--color-hover-primary);
}

@media screen and (min-width: 1200px) {
  .nav {
  }

  .nav__list {
    width: 960px;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  .nav__item-link {
    padding-left: 6px;
    padding-right: 6px;
  }
}
