.privacy__body {
  background-color: linear-gradient(
    90deg,
    #002844 0%,
    #023458 29.81%,
    #002c4b 70.19%,
    #001626 100%
  );
}

.privacy__container {
}

.privacy__home-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  width: 135px;
  margin-bottom: 24px;
}

.privacy__home-link-icon {
  width: 16px;
  height: 12px;
  fill: var(--main-color);
}

.privacy__home-link-text {
}

.privacy__title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.125;
  letter-spacing: 0.02em;

  text-align: left;
  text-transform: capitalize;
  margin-bottom: 24px;
  color: var(--main-color);
}

.privacy__update-date {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.02em;

  text-transform: capitalize;
  margin-bottom: 24px;
  color: var(--main-color);
}

.privacy__description {
  font-size: 20px;

  margin-bottom: 24px;
}

.privacy__link {
  text-decoration: underline;
}

.privacy__list {
}

.privacy__item {
  margin-bottom: 24px;
}

.privacy__item-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  text-align: left;
  text-transform: capitalize;
  margin-bottom: 6px;
  color: var(--main-color);
}

.privacy__item-description {
  font-size: 20px;

  margin-bottom: 4px;
}

.privacy__sublist {
  width: 258px;
  margin-right: 0;
  margin-left: auto;
  list-style-type: disc;
  /* list-style-position: inside; */
}

.privacy__subitem {
  font-weight: 500;
  font-size: 20px;
}
