.reviews {
  background-image: image-set(
    url(../img/ht-play_reviews-bg-mobile.webp) 1x,
    url(../img/ht-play_reviews-bg-mobile@2x.webp) 2x
  );
  background-position: top center;
  background-repeat: no-repeat;
}

.container {
}

.reviews__title {
}

.reviews__swiper {
  height: 276px;
  margin-bottom: 24px;
}

.reviews__cards-list {
}

.reviews__card {
  border: 1px solid var(--main-color);
  border-radius: 8px;
  padding: 7px;
  width: 100%;
  margin-right: 20px !important;

  background-color: rgba(0, 32, 57, 0.8);

  display: flex;
  flex-direction: column;
}

.reviews__card-content-wrapper {
  width: 100%;
  height: calc(100% - 35px);
}

.reviews__rating {
  display: flex;
  justify-content: flex-end;
}

.reviews__card-title-wrapper {
  position: relative;
  width: 272px;
  height: 72px;
  padding: 20px 6px;
  margin: 0 auto;
}

.reviews__card-title {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 24px;
}

.reviews__card-title-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.reviews__card-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 70px);
}

.reviews__card-text {
  font-size: 20px;
}

.reviews__feedback-btn {
  display: block;
  margin: 0 auto;
  margin-top: 24px;
  font-weight: 500;
  width: 200px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 8px;
  border: none;

  color: var(--main-color);
  background-color: var(--button-bg-color);

  transition: background-color 250ms ease;
}

.reviews__feedback-btn:hover,
.reviews__feedback-btn:focus {
  background-color: var(--color-hover-tertiary);
}

@media screen and (min-width: 1200px) {
  .reviews {
    background-image: image-set(
      url(../img/ht-play_reviews-bg-desktop.webp) 1x,
      url(../img/ht-play_reviews-bg-desktop@2x.webp) 2x
    );
    background-size: cover;
  }

  .container {
  }

  .reviews__title {
  }

  .reviews__swiper {
    margin-bottom: 36px;
  }

  .reviews__card {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    width: 362px !important;
    height: 248px;
    margin-right: 21px !important;
  }

  .reviews__card-content-wrapper {
    width: 282px;
  }

  .reviews__rating {
    flex-direction: column;
    justify-content: flex-start;
  }

  .reviews__card-title-wrapper {
    width: 100%;
  }

  .reviews__card-title {
  }

  .reviews__card-title-frame {
  }

  .reviews__card-text-wrapper {
  }

  .reviews__card-text {
  }

  .reviews__feedback-btn {
    margin-top: 36px;
    font-weight: 500;
    width: 250px;
  }
}
