.swiper__wrapper-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* height: 56px; */
}

.swiper__btn {
  width: 56px;
  height: 56px;
  border: 1px solid var(--main-color);
  border-radius: 4px;

  background-color: transparent;

  transition: border-color 250ms ease;

  /* background-color: #002744; */
}

.swiper__btn:active {
  border-color: #66b3ff;
}

.swiper__btn:disabled {
  border-color: #5c6670;
  cursor: default;
}

.swiper__btn-left {
  padding: 16px 23px 16px 21px;
}

.swiper__btn-right {
  padding: 16px 21px 16px 23px;
}

.swiper__icon-btn {
  fill: var(--main-color);
  width: 12px;
  height: 24px;

  transition: fill 250ms ease;
}

.swiper__btn:active .swiper__icon-btn {
  fill: #66b3ff;
}

.swiper__btn:disabled .swiper__icon-btn {
  fill: #5c6670;
}

/* .swiper__btn-left:disabled {
  border-color: #6c7a85;
}

.swiper__btn-left:disabled .swiper__icon-btn {
  border-color: #6c7a85;
} */

.swiper__pagin-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .swiper__btn:hover {
    border-color: #66b3ff;
  }

  .swiper__btn:hover .swiper__icon-btn {
    fill: #66b3ff;
  }

  .swiper__btn:disabled {
    border-color: #5c6670;
  }

  .swiper__btn:disabled .swiper__icon-btn {
    fill: #5c6670;
  }
}
