.swiper__wrapper-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swiper__btn {
  width: 56px;
  height: 56px;
  border: 1px solid var(--main-color);
  border-radius: 4px;

  background-color: transparent;

  transition: border-color 250ms ease;
}

.swiper__btn:active {
  border-color: var(--color-hover-secondary);
}

.swiper__btn:disabled {
  border-color: var(--color-disabled);
  cursor: default;
}

.swiper__btn-left {
  padding: 16px 23px 16px 21px;
}

.swiper__btn-right {
  padding: 16px 21px 16px 23px;
}

.swiper__icon-btn {
  fill: var(--main-color);
  width: 12px;
  height: 24px;

  transition: fill 250ms ease;
}

.swiper__btn:active .swiper__icon-btn {
  fill: var(--color-hover-secondary);
}

.swiper__btn:disabled .swiper__icon-btn {
  fill: var(--color-disabled);
}

.swiper__pagin-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .swiper__btn:hover {
    border-color: var(--color-hover-secondary);
  }

  .swiper__btn:hover .swiper__icon-btn {
    fill: var(--color-hover-secondary);
  }

  .swiper__btn:disabled {
    border-color: var(--color-disabled);
  }

  .swiper__btn:disabled .swiper__icon-btn {
    fill: var(--color-disabled);
  }
}
